# BF2Editor logs
Logs

# Bf2Editor package files (include Levels/*/*.zip)
/*.zip

# IDE files
.vs
.idea

# User specific files
*.user
Settings/Usersettings.con

# Boomfield Installer
BoomfieldInstaller/bin/Debug
BoomfieldInstaller/bin/Release
BoomfieldInstaller/obj

# Boomfield Packager
BoomfieldPackager/bin/Debug
BoomfieldPackager/bin/Release
BoomfieldPackager/obj
